<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body ng-controller="ansCtrl">

<div class="row">
    <div class="col-xs-10">
        <h2>{{answer.ask_title}}</h2>
        <a href="{{ask_url}}">{{answer.ask_url}}</a>
        <div>
            {{answer.content}}
        </div>
    </div>

</div>


</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/app.js"></script>
</html>