<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body ng-controller="indexCtrl" ng-init="init()">

<div class="row">
    <div class="col-xs-10">
        <ul>
            <li ng-repeat="answer in answers">
                <span class="badge">{{answer.agree_num}}</span>
                <a href="#" ng-click="showDetails = ! showDetails">{{answer.ask_title}}</a>
                <div ng-show="showDetails">
                    <div>
                        {{answer.summary}}
                    </div>
                    <div>
                        <a href="#" ng-click="showAnswer(answer._id)">More..</a>
                    </div>

                </div>
            </li>

        </ul>
        <ul class="pager">
            <li><a href="#" ng-click="prevPage()">Previous</a></li>
            <li><a href="#" ng-click="nextPage()">Next</a></li>
        </ul>
    </div>

</div>


</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/index.js"></script>
</html>
